* {
    box-sizing: border-box;
}
.fakesheet__header {
    margin-bottom: 5px;
}

.fakesheet__title {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    color: grey;
    margin: 0;
    padding: 0;
}

.fakesheet-wrapper {
    width: 90%;
    margin: auto;
    background-color: lightgrey;
}

.fakesheet__table-wrapper{
    display: flex;
    flex-direction: row;
    height: 620px;
    border: 1px solid lightgray;
    
}

#scroll_sheet{
    display: flex;
    flex-direction: row;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 15px;
} 
::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); 
} 
::-webkit-scrollbar-button {
    background-color: lightgray; 
    width: fit-content;
} 
::-webkit-scrollbar-corner {
    background-color: whitesmoke;
} 

.fakesheet__table-addcol{
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: auto;
    background-color: rgb(226, 226, 226);
}

.fakesheet__table-addrow{
    display: flex;
    flex-direction: column;
    width: 20px;
    background-color: rgb(226, 226, 226);
}

table {
    border-collapse: separate;
    border-spacing: 0.1pc;
    table-layout: fixed; 
}

table thead th {
    position: sticky;
    top: 0;
    border-bottom: 0.1pc solid lightgray;
    z-index: 1;
}

table tbody th {
    position: sticky;
    left: 0;
    border-right: 0.1pc solid lightgray;
    z-index: 2;
}

.header_corner {
    position: sticky;
    left: 0;
    top: 0;
    background-color: whitesmoke;
    box-shadow: 1px 1px 1px 0px grey;
    width: 30px;
    height: 20px;
    z-index: 3;
}

th[scope="col"] {
    font-size: 12px;
    font-weight: 100;
    min-width: 80px;
    height: 20px;
    background-color: whitesmoke;
}

th[scope="row"] {
    font-size: 12px;
    font-weight: 100;
    min-width: 30px;
    height: 20px;
    background-color: whitesmoke;
}

td {
    font-size: 12px;
    min-width: 80px;
    height: 20px;
    background-color: white;
}

table tbody td > input {
    width:100%;
    height:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    white-space: nowrap;
}

table tbody td > input:focus {
    overflow: hidden;
    width:80px !important;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: 2px solid cornflowerblue;
}

table tbody td div{
    overflow: hidden;
    width:80px !important;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:focus {
    outline: 2px solid cornflowerblue;
}

td:hover {
    cursor: default;
}

.btn_add_row {
    margin-top: 22px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.btn_remove_row {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.btn_add_col {
    margin-left: 52px;
    margin-right: 1px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    z-index: 5;
}

.btn_remove_col {
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    border: none;
    z-index: 6;
}

.button {
    width: 20px;
    height: 20px;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 10px;
    box-shadow: inset 0 0 1px 1px lightgrey;
}

.button:active {
    outline: 1px solid cornflowerblue;
}
